* {
    /* margin: 0 auto; */
}

form {
    width: 50%;
    height: 50%;
    float: right;
}

/* WELCOME PAGE */
/* WELCOME CONTAINER */
.welcome-container {
    /* border: 2px solid black; */
    padding: 10px;
    height: 100%;
    width: 100%;
}

.welcome-logo {
    width: 200px;
    height: 200px;
    border: none;
    display: block;
    margin: 0 auto;
}

.welcome-login {
    font-size: 15px;
    margin-top: 20px;
}

/* REGISTRATION CONTAINER */
.registration-container {
    margin-top: 50px;
    padding: 20px;
    width: 50%;
}

/* p {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
} */
input {
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
}

input[type="text"],
input[type="password"] {
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
    /* margin-right: 15px; */
    outline: none;
    color: black;
}

/* ERROR MSG REQUIRING ALL INPUT FIELDS */
.err {
    color: red;
    font-weight: bold;
    font-size: 15px;
}

#register-button {
    display: block;
    cursor: pointer;
    height: 20px;
    width: 80px;
    font-weight: bolder;
    opacity: 0.7;
}

#login-button {
    display: block;
    cursor: pointer;
    height: 20px;
    width: 80px;
    font-weight: bolder;
    opacity: 0.7;
}

.test-div {
    background-color: black;
}

/* LOGO COMPONENT */
.logo {
    height: 100px;
    width: 100px;
}

/* PROFILE PIC COMPONENT */
.profile-container .pp {
    width: 30%;
    height: 30%;
    float: left;
}

.profile-container {
    padding: 30px;
}

.pp {
    float: right;
    width: 7%;
    height: 7%;
    padding: 10px;
    border: 1px solid black;
}

.pp:hover {
    cursor: pointer;
    border: 3px solid black;
}

.pp-info {
    font-size: 15px;
    display: inline;
}

/* UPLOADER COMPONENT */
.uploader-container {
    border: 1px solid black;
    margin-top: 10px;
    width: 20%;
    height: 20%;
    background: white;
    /* centers div vertically & horizontally */
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.x {
    font-size: 15px;
    text-align: right;
    padding-right: 10px;
}

.x:hover,
.uploader-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.uploader-btn {
    display: block;
    margin: 0 auto;
}

#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 1s ease;
}

/* BIO */
textarea {
    width: 40%;
    height: 30%;
    /* margin-left: 20px;
    margin-top: 60px; */
}

.bio {
    font-size: 15px;
}

.submit-btn {
    display: block;
}

/* FRIEND */
/* .friend-btn {
    border: 1px solid black;
} */
/* LIST OF FRIENDS AND WANNABES */
.friends-container, .wannabes-container {
    display: flex;
}

.each-friend-inlist {
    border: 1px solid black;
    height: 100%;
    width: 100%;
    /* display: inline-block; */
}

.header-div {
    /* margin: 0 auto; */
    display: block;
}

.list-header {
    text-align: center;
    margin-top: 10px;
}

.list-pic {
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center;
}